<mat-card style="width:75%; margin:0 auto;background-color:#b0ab9e;">
<mat-card-header style="font-size: xx-large;color:firebrick">
  Version 1
</mat-card-header>
  <div style="margin-bottom: 25px;">
    <input matInput style="width:33%; text-align:center; color:#6B8E23; font-size: x-large;" placeholder="enter name" type="text" [(ngModel)]="pokemonName"  [disabled]="pokemonType">
    <input matInput style="width:33%; text-align:center;color:#6B8E23;font-size: x-large; "  placeholder="enter type" type="text" [(ngModel)]="pokemonType" [disabled]="pokemonName">
    <button mat-button style="width:33%; text-align:center; color:firebrick; font-size: x-large;" (click)="searchPokemon()">Filter</button>
  </div>
<mat-card-content>

<table mat-table  style="width:100%;background-color:#b0ab9e;" [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.type}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="heightWeight">
    <th mat-header-cell *matHeaderCellDef> Height/Weight </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.height}} / {{pokemon.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="signatureAbility">
    <th mat-header-cell *matHeaderCellDef> Signature ability </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.signatureAbility}} </td>
  </ng-container>

  <ng-container matColumnDef="baseExperience">
    <th mat-header-cell *matHeaderCellDef> Base experience </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.baseExperience}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="getNextPokemonPage($event)" style="background-color:#b0ab9e;">
</mat-paginator>
</mat-card-content>
<mat-card-footer>
</mat-card-footer>
</mat-card>
